html {
    margin: 0;
    font-family: sans-serif;
}
body {
    margin: 0;

}
.container {
    width: 800px;
    height: 850px;
    margin: auto;
    display: grid;
    grid-template-rows: 13% 5% 20% 70% 15%; 
    
}
header {
    display: grid;
    grid-template-columns: 15% 40% auto;
}
.logo, .imglogo {
    height: 60px;
    width: 60px;
}
h1 {
    font-size: 1rem;
}
h2 {
    font-size: 0.7rem;
}
.lenguage-information {
    display: grid;
    grid-template-rows: 30% auto;
   

}
.lenguage {
    text-align: end;
    padding-right: 5%;
}
.en, .fr, .de, .cn {
    font-size: 0.4rem;
    border-radius: 0;
    background-color: white;
    border: 1px black solid;
    
}
.menu {
   display: grid;
   grid-template-columns: auto auto auto auto auto;
   align-items: end;
   padding-bottom: 2%;
}
.menu a {
    font-size: 0.6rem;
    text-decoration: none;
    color: black;
      
}
.menu span {
    font-size: 0.6rem;    
}

nav {
    color:rgb(132, 124, 124);
    border: rgb(132, 124, 124) 1px solid;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto 40%;
    margin: 0px 0;
    background-color: rgb(224, 224, 224);
    } 
nav a {
    text-decoration: none;
    font-size: 0.6rem;
    color:rgb(132, 124, 124);
    margin: auto;

}
.search {
    display: flex;
    
}
.search input {
    
    border: 1px black solid;
    margin: auto 0;
    height: 40%;
    

}
.search button {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    border: 1px black solid;
    margin: auto 0;
}
.search button img {
    height: 5px;
}

.image {
    border: rgb(132, 124, 124) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    margin: 5px 0;
}
.bigbox {
    display: grid;
    grid-template-columns: 75% 25%;
    
}
.middlebox1 {
    display: grid;
    grid-template-rows: 50% auto;
    border: rgb(132, 124, 124) 1px solid;
    border-radius: 4px;
}
.top-story-headline {
    display: grid;
    grid-template-rows: 25% 60% 10%;
    margin: 2%;
}
h3 {
    border: rgb(132, 124, 124) 1px solid;
    font-size: 0.8rem;
    background-color: rgb(224, 224, 224);
    display: flex;
    align-items: center;
    padding: 17px;
    color:rgb(132, 124, 124);
    margin: 4px;
    height: 2%;
    border-radius: 2px;


    
}
.image-description {
    display: grid;
    grid-template-columns: 30% 70%;
    margin: auto;
}
.photo {
    border: black 1px solid;
    margin: 10px 10px;
    height: 100px;
    width: 100px;
}
.image-description p {
    font-size: 0.7rem;
    margin: auto 10%;
}
.buttons {
    display: flex;
    justify-content: space-around;
}
.amonthly {
    display: grid;
    grid-template-rows: 20% 65% 10%;
    margin: 2%;
}
.amonthly ul {
    text-decoration: none;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;

}
ul li div {
    border: black 1px solid;
    height: 60px;
    width: 60px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li p {
    font-size: 0.5rem;
}
.users-review {
    font-size: 0.5rem;
}
.middlebox2 {
    display: grid;
    grid-template-rows: 5% 30% 40%; 
}
.social {
    border: rgb(132, 124, 124) 1px solid;
    font-size: 0.8rem;
    background-color: rgb(224, 224, 224);
    color:rgb(132, 124, 124);
    margin: auto 2%;
    text-align: center;
    border-radius: 2px;
    
}
.video {
    border: rgb(132, 124, 124) 1px solid;
    margin: 2%;
    border-radius: 5px;
    display: grid;
    grid-template-rows: auto auto;
    

}
iframe {
    margin: auto
}
.video a {
    margin: auto;
    font-size: 0.7rem;
    border: rgb(132, 124, 124) 1px solid;
    padding: 2% 15%;
    border-radius: 2px;
}
.naviegate {
    border: rgb(132, 124, 124) 1px solid;
    margin: 2%;
    border-radius: 5px;
}
h4 {
    border: rgb(132, 124, 124) 1px solid;
    font-size: 0.8rem;
    background-color: rgb(224, 224, 224);
    color:rgb(132, 124, 124);
    margin: 2%;
    text-align: center;
    border-radius: 2px;
    font-style: normal;
}
.naviegate ul {
    
    
}
.naviegate ul li {
    color:rgb(132, 124, 124);
    font-size: 0.7rem;
    
    list-style-position: outside;
}
footer {
    margin-top: 2%;
    border-top: 1px solid black;
    
    
    
}
.links {
    display: flex;
    justify-content: space-around;
    margin: auto 20%;
    margin-top: 1%;
    
    
}
.links a {
    font-size: 0.6rem;

    
}
.copyright {
    font-size: 0.6rem;
    text-align: center;
    color: rgb(103, 162, 185);
    margin-top: 1%;
    
    
}