* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 200vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 0.6fr 0.8fr 0.8fr 0.8fr 0.8fr ;
    grid-template-areas: "header" "main" "leftaside" "centeraside" "rigthaside";
    padding: 5px;
    gap: 5px;

}
header {
    
    grid-area: header;
    display: grid;
    grid-template-rows: 0.7fr 1fr;
    grid-template-areas: "h1" "nav";
    gap: 5px;
}
main {
    background-color: #67c8cf;
    grid-area: main;
}
.leftaside {
    background-color: #93d744;
    grid-area: leftaside
}
.centeraside {
    background-color: #93d744;
    grid-area: centeraside
}
.rigthaside {
    background-color: #93d744;
    grid-area: rigthaside
}
/*header*/
h1 {
    color:#7f4194;
    font-family: 'Roboto';
    grid-area: h1;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 8vh;
}
ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3px;
}
li {
    background-color: #7f4194;
}

@media (min-width: 600px) {
    body {
        height: 121vh;
        grid-template-rows: 0.4fr 1fr 1fr 0.5fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "header header" "main main" "leftaside centeraside" "rigthaside rigthaside";
        gap: 15px;
    }
    header {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1.5fr 1fr;
        grid-template-areas: "h1 h1 h1 h1" "nav nav nav nav";
        row-gap: 10px;
    }
    h1 {
        display: block;
    }
    nav {
        grid-area: nav;
    }
    
    ul {
        grid-area: ul;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 8px;
    }

}
@media (min-width: 900px) {
    body {
        grid-template-columns:  1fr 1fr 1fr;
        grid-template-rows: 1fr 4fr 4fr;
        height: 100vh;
        grid-template-areas: "header header header" "main main main" "leftaside centeraside rigthaside";
    }
}